/* General Page layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: var(--body-font);
  line-height: 1.6;
  max-width: 900px;
  color: var(--accent1-color);
}

main {
  width: 840px;
  margin: auto;

}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

nav {
  padding: 16px;
  background-color: steelblue;
  text-decoration: none;
}

nav a {
  color: white;
  display: block;
  font-weight: bold;
  padding: 16px;
}

nav a:hover {
  color: var(--primary-color);
}

.social-media {
  text-decoration: none;
}

/* Hero */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  gap: 500px;
  margin-top: 10px;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  top: 400px;
  left: 40px;
  right: 40px;
  background-color: rgb(225 225 225 0.8);
  padding: 16px;
}

.hero article img {
  float: right;
  width: 125px;
  margin: 0 0 16px 16px;
  gap: 300px;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* History */
.history {
  text-align: center;
}

.history h2 {
  margin-bottom: 200px;
}

/* Adventure */
.adventure {
  top: 400px;
  float: left;
}

.adventure-images {
  display: flex;
  box-shadow: 0 0 10px grey;
  justify-content: space-between;
  gap: 50px;
  float: right;
}

.adventure-images img {
  width: 18px;
  height: auto;
}

/* Footer */
footer {
  border-top: 1px solid grey;
  text-decoration: none;
  align-items: center;
  margin-top: 1em;
  font-size: 20px;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media img {
  width: 40px;
  text-decoration: none;
  height: auto;
}

/* Meaning of the words */
:root {
  --primary-color: 2e6f95;
  --heading-font: Georgia, serif;
  --body-font: Arial, sans-serif;
}