/* General Page layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Meaning of the words */
:root {
  --primary-color: #1f4f6b;
  --accent1-color: #333;
  --heading-font: Georgia, serif;
  --body-font: Arial, sans-serif;
}

body {
  background-color: lightblue;
  font-family: var(--body-font);
  line-height: 1.6;
  max-width: 900px;
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
  height: auto;
}

nav {
  background-color: #265d7b;
  padding: 8px;
}

nav a {
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
}

main {
  width: 840px;
  margin: auto;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

nav a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 400px;
  left: 40px;
  right: 40px;
  background-color: rgb(225, 225, 225, 0.8);
  padding: 16px;
}

.hero article img {
  float: right;
  width: 125px;
  margin: 0 0 16px 16px;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* History */
.history {
  text-align: center;
  padding: 20px;
}

.history h2 {
  margin-bottom: 16px;
}

/* Adventure */
.adventure {
  text-align: center;
  padding: 20px;
}

.adventure-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.adventure-images figure {
  width: 10%;
  text-align: center;
}

.adventure-images img {
  width: 18%;
  height: auto;
}

.adventure-images figcaption {
  font-size: 14px;
  margin-top: 5px;
}

/* Footer */
footer {
  border-top: 1px solid grey;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

footer img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.socialmedia {
  display: flex;
  gap: 10px;
  background-color: transparent;
  padding: 0;
}

.socialmedia img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}